{{ $supported := eq .chezmoi.os "darwin" -}}
{{ if eq .chezmoi.os "linux" -}}
{{ $supported = eq .chezmoi.osRelease.id "fedora" -}}
{{ end -}}
{{ if $supported -}}
#!/bin/bash
# Reference: https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
# Reference: https://www.chezmoi.io/reference/templates/functions/lookPath/
set -e
{{ if not (lookPath "codex") -}}
npm install --global --prefix "$HOME/.local" {{ .packages.npm.codex | quote }}
{{ end -}}
npm install --global --prefix "$HOME/.local" --force {{ .packages.npm.pi | quote }}
{{ end -}}
